html {
	height: 100%;
}
body{	
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: #8A2387;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #E3F0FF;
	font-family:Verdana, Arial, sans-serif;
	}
h1 {
	background-color: #59BAB7;
	color: #8C3800;
	text-align:center;
	line-height:200%;
	font-family:"Times New Roman", Times, serif;
}
h2 {
	color: #B7A6B5;
}
nav{
	font-weight:bold;
	text-align:center;
}
nav a{
	text-decoration:none;
}
#wrapper {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	}

.left {
	float: left;
}

.meme {
	float: right;
	padding: 0 10px 0 0;
}

.current {
	color: #000000;
}
.sources a {
	color: #59BAB7;
}

@media only screen and (max-width: 600px) {
	iframe {
		width: 100%;
	}
	.space h3{
		padding-top: 500px;
	}
	#wrapper a {
		padding: 90px;
	}
}